# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projets personnels\jeu-du-feu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
